/* Частина 1 */

/* використайте селектор елемента body */
body {
    margin: 25px;
    padding: 0;
    background: rgb(226, 223, 223, 0.5);
    background-image: url("sky.jpg");
    background-size: cover;
}

/* універсальний селектор */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* селектор елемента header */
header {
    padding: 20px;
    background: linear-gradient(grey, white, grey);
}

/* селектор елемента для напису-слогана у заголовку сайту */
h1 {
    font-size: 2rem;
    text-align: center;
    text-shadow: grey 2px 2px;
    margin-bottom: 20px;
}

/* меню */
ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2rem;
}

ul li a {
    text-decoration: none;
    color: blue;
}

ul li a:hover {
    color: darkblue;
}

/* Зображення та текст */
img {
    width: 300px;
    border-radius: 10px;
    margin: 10px 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 0;
}
