/* Базові стилі */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* Горизонтальна навігація */
.nav {
    background: #222;
    padding: 15px;
    text-align: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.nav a:hover {
    color: #ffd700;
}

/* FLEX-контейнер */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Лівий і правий бокові блоки */
.left-panel, .right-panel {
    width: 20%;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.right-panel:hover {
    background: #dcecff;
}

/* Центральний блок */
.content {
    width: 60%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

/* Зображення */
img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

/* GRID */
.grid-box {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-box div {
    background: #ffe4b5;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}
