body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

/* Меню */
.navbar {
    background: linear-gradient(to bottom, #ddd, #aaa);
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: #1a1aee;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Панелі */
.panel {
    width: 25%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
}

.left, .right {
    min-height: 350px;
}

.right:hover {
    background: #e6e6e6;
    transition: 0.3s;
}

/* Центр */
.center {
    width: 45%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
}

.photo {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Grid */
.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.item {
    background: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
}

footer {
    text-align: center;
    margin: 40px 0;
    font-size: 18px;
}

