/* Загальні стилі */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    padding: 20px;
}

/* HEADER */
.header {
    background: linear-gradient(to bottom, #ffffff, #888);
    padding: 20px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: underline;
}

/* FLEX Лейаут */
.container {
    display: flex;
    gap: 20px;
}

/* Панелі */
.left, .center, .right {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* Ширини колонок */
.left {
    width: 20%;
}
.center {
    width: 60%;
}
.right {
    width: 20%;
}

/* Фото */
.photo {
    width: 200px;
    border-radius: 8px;
    margin: 10px 0;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.grid div {
    background: #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

/* Hover */
.right:hover {
    background: #e6ffe6;
}

/* Footer */
.footer {
    margin-top: 20px;
    text-align: center;
}
